@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.marquee-inner {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
